*.pyc

# erfgoedbot created files
erfgoedbot/sql/create_table_monuments*
erfgoedbot/sql/create_table_wlpa*

# pywikibot created files
logs
apicache
*.ctrl

# third-party libraries
vendor
node_modules

# tox/composer/docker files
.coverage
htmlcov
.tox
composer.lock
erfgoedbot/database_config.yml
conf/monuments_db.sql.gz

# IDE files
*.iml
