[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
nose = "*"
nose-cov = "*"
coverage = "*"
freezegun = "*"

[packages]
future = "*"
pywikibot = "*"
requests = "*"
PyMySQL = "*"
PyYAML = "*"
mwparserfromhell = "*"

[requires]
python_version = "3.7"
