[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
nose = "*"
nose-cov = "*"
coverage = "*"
freezegun = "*"

[packages]
future = "*"
pywikibot = "*"
requests = "*"
PyMySQL = "==0.7.11"
PyYAML = "*"

[requires]
python_version = "2.7"
