/* reset browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start website styles */

/* colors: 
	#8f0000 wlm red 


*/ 

body {
	background-color: #fff;
	background-image: url(/theme/images/bg_stripes.png);
	background-repeat: repeat;
	height: 100%;
	
	}

/* some typo */
h1,h2,h3 {
	font-family: Georgia, Cambria, Times, Times New Roman, serif;
	color: #000;
	font-weight: normal;
	}


h4, h5, h6, p, td, li, a {
	font-family: Helvetica, Calibri, Arial, sans-serif;
	font-size: 14px;
	line-height: 135%;
	}

div#wrapper {
	width: 960px;
	height: 100%;
	min-height: 90%;
	
	background-color: #fff;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	margin-bottom: 10px; /* must correspond to the height of the footer  */ 
	padding-bottom: 15px;
	-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px; 
-webkit-box-shadow: 4px 4px 8px #808080;
-moz-box-shadow: 4px 4px 8px #808080;
box-shadow: 4px 4px 8px #808080;
	}

div#header {
	margin-top: 19px;
	margin-left: 20px;
	margin-right: 20px;

		}
div#header h1,
div#header h2 {
	margin-left: 225px;
	
	}

div#header h2 {
	font-size:80px;
	text-transform: uppercase;
	color: #efefef;
	margin-top: 0;
	
	}

div#header div#random-banner {
	position: relative;
	
	}

div#header div#random-banner a#imagelink {
	position: absolute;
	right:8px;
	bottom: 3px;
	padding: 5px;
	}


	
img#wlm-logo {
	float: left;
	margin-left: 20px;
	}
div#header h1{
	font-size: 16px;
	margin-bottom: 5px;
 margin-top: -70px;
 margin-left: 250px;
	}
div#header h1 span {
	font-weight: bold;
	color:#9e0101;
	}

div#maincontainer {
	clear: left;
	margin-left: 20px;
	margin-top: 50px;
	}
div#leftnav {
	width: 200px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	padding-bottom: 300px;
	
	}
div#content {
	margin-left: 235px;
	margin-right: 150px;
  width:540px;
	}

div#content h2 {
	font-size: 32px;
	color: #9e0101;
	margin-bottom: 5px;
	}
div#content h3 {
	font-size: 22px;
	color: #a9a2a2;
	margin-bottom: 20px;
	}
div#content h4 {
	color: #000;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
	}
div#content p {
	margin-bottom: 10px;
	}

div#content ul {
	list-style-type: none;
	margin-bottom: 10px;
			}

div#content ul li {
	background-image: url(/theme/images/bullet_red_square.png);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left: 16px;

	}

div#content img.right {
	float:right;
	margin-left: 10px;
	}
div#content img.left {
	float:left;
	margin-right: 10px;
	}


div#content a:link,
div#content a:visited {
 	color:#9e0101;
 	font-weight: bold;
 	text-decoration: none;
	}

	
div#content a:hover,
div#content a:active {
 	color:#6d0202;
 	font-weight: bold;
 	text-decoration: underline;
	}
	
div#leftnav ul li,
div#leftnav ul a
 {
	font-size: 14px;
	font-weight: bold;
	color: #9e0101;
	text-decoration: none;
	margin-bottom: 15px;
	}
div#leftnav ul li ul {
	margin-left: 10px;
	}
div#leftnav ul li ul li,
div#leftnav ul li ul li a {
	color: #000;
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 3px;
	}
div#leftnav ul li ul li span {
	font-weight: bold;;
	}


/* toolbox form */ 

table#mainform {
	width: 100%;
	}
table#mainform td,
table#mainform th  {
	vertical-align: top;
	padding: 3px;
	text-align: left;
	
	}

table#mainform td input[type='text'] {
	border:1px solid #ccc;
	font-size: 12px;
 	color: #333;
 	width: 250px;
	}
table#mainform select{
 	width: 250px;

	}

table#mainform label {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	}

table#mainform td.subtitle {
	background-color: #dedede;
	font-weight: bold;
	font-size: 14px;
	
	}


table#mainform input#url {
	width: 500px;
	color: #8f0000
	}